/* RESET */
body, html {
   margin: 0;
   padding: 0;
}

img, svg {
   max-width: 100%;
   display:block;
}

button {
   border: none;
   padding: 0;
   margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

:root {
   /* INIT VALUES */
   --pd-horizontal: 100px;
   --pd-vertical: 100px;

   --mg-text-large: 60px;
   --mg-text-medium: 30px;
   --mg-text-small: 10px;

   --clr-primary:#0B2E1C;
   --clr-secondary: #C18A2B;
   --clr-secondary-muted: #8F7127;
   --clr-neutral: #FFFF;
   
   --fs-h: 6rem;
   --fs-sh: 3rem;
   --fs-pr: 2rem;
   --fs-body: 1.8rem;

   --gp-grid: 60px;
}

.mg-top-l {
   margin-top: var(--mg-text-large);
}

.mg-bottom-l {
   margin-bottom: var(--mg-text-large);
}

.mg-top-m {
   margin-top: var(--mg-text-medium);
}

.mg-bottom-medium {
   margin-bottom: var(--mg-text-medium);
}

.mg-top-s {
   margin-top: var(--mg-text-small);
}

.mg-bottom-s {
   margin-bottom: var(--mg-text-small);
}

/* UTILITY CLASSES */

.mw-phone {
   width: min(100vw, 900px);
   margin: 0 auto;
}

.pd-horizontal {
   padding-left: var(--pd-horizontal);
   padding-right: var(--pd-horizontal);
}

.pd-vertical {
   padding-top: var(--pd-vertical);
   padding-bottom: var(--pd-vertical);
}

.fs-h {
   font-size: var(--fs-h);
}

.fs-sh {
   font-size: var(--fs-sh);
}

.fs-pr {
   font-size: var(--fs-pr);
}

.fs-body {
   font-size: var(--fs-body);
}

.bg-primary {
   background-color: var(--clr-primary);
}

.bg-secondary {
   background-color: var(--clr-secondary);
}

.bg-secondary-muted {
   background-color: var(--clr-secondary-muted);
}

.bg-neutral {
   background-color: var(--clr-neutral);
}

.clr-primary {
   color: var(--clr-primary);
}

.clr-secondary {
   color: var(--clr-secondary);
}

.clr-secondary-muted {
   color: var(--clr-secondary-muted);
}

.clr-neutral {
   color: var(--clr-neutral);
}

.gp-grid {
   gap: var(--gp-grid);
}

.txt-left {
   text-align: left;
}

.txt-right {
   text-align: right;
}

.txt-center{
   text-align: center;
}

/* APP */
section {
   padding: var(--pd-vertical) var(--pd-horizontal);
}

section:nth-child(1) button {
   padding: 2rem 4rem;
   border-radius: 3rem;
}

.hero {
   display: grid;
   place-items: center;
   grid-template-columns: 1fr 1fr;
   min-height: 1200px;
   align-items: center;
}

.hero-img {
   display: grid;
   height: 100%;
   width: 100%;
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(2, 1fr);
}

.hero-img > * {
   width: 100%;
   height: 100%;
}

.img-one {
   border-radius: 0 100% 0 0;
   background-image: url('/assets/ko-vice.jpg');
   background-size: cover;
   background-position-x: 40%;
   background-repeat: no-repeat;
}

.img-two {
   grid-row: 1/3;
   grid-column: 2;
   background-image: url('/assets/kar-ru.jpg');
   background-size: cover;
   background-position-x: 30%;
   background-repeat: no-repeat;
}

.shape {
   border-radius: 50% 50% 0 50%;
   aspect-ratio: 1/1;
}

/* DOBRODOSLI */
section:nth-child(2) > .mw-phone {
   display:flex;
   gap: 5rem;
   align-items: center;
}

section:nth-child(2) > .mw-phone > * {
   flex: 1;
}

/* SPECIJALITET */
section:nth-child(3) > .mw-phone {
   --pd-horizontal: 600px;
   display: grid;
   align-items: center;
   min-height: 700px;
   grid-template-columns: 1fr 1fr;
}

.kar-img {
   background-image: url('assets/kar.jpg');
   border-radius: 40px 30% 200px 200px;
   min-height: 480px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

/* ONLINE NARUDZBINA */
section:nth-child(4) {
   text-align: center;
}

section:nth-child(4) button {
   padding: 2rem 4rem;
   border-radius: 1rem;
}

/* REVOLUCIJA */
section:nth-child(5) > .mw-phone {
   display:grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}

.revolucija-img {
   background-image: url('assets/kar-mat.jpg');
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 2rem 10rem 10rem 10rem;
   min-height: 50vh;
}

/* AMIR AGIN HAN */
section:nth-child(6) > .mw-phone {
   display: grid;
   grid-template-columns: 1fr 3fr;
   grid-template-rows: 1fr 1fr;
   justify-items: center;
   align-items: center;
   max-height: 30vh;
}

section:nth-child(6) > .mw-phone > img {
   grid-row: 1/3;
   height: 100%;
   object-fit: cover;
}

/* PITANJA */
.q-container {
   display:flex;
   justify-content: space-around;
   gap: 4rem;
}

.q-c {
   flex: 1;
}

/* FOOTER */
.socials > a > svg {
   display:block;
   margin: 0 auto;
   height:4rem;
   aspect-ratio: 1/1;
   fill:white;
   margin-bottom: 1rem; 
}

.socials p {
   font-size: 10px;  
}

/* TABLET */

@media screen and (max-width: 1300px) {
      .hero {
         grid-template-columns: 1fr;
         align-items: center;
      }

      .hero-text {
         display: flex;
         flex-direction: column;
         align-items: stretch;
      }

      .hero a {
         display: flex;
         align-items: stretch;
         flex-direction: column;
      }

      section:nth-child(2) > .mw-phone {
         flex-direction: column;
      }

      section:nth-child(3) > .mw-phone {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr;
         justify-items: center;
      }

      .kar-img {
         height: 100%;
         width: 60%;
      }

      section:nth-child(5) > .mw-phone{
         grid-template-columns: 1fr;
      }

      section:nth-child(6) > .mw-phone {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         min-height: 100svh;
      }

      section:nth-child(6) > .mw-phone > img {
         grid-row: 2/3;
         max-height: 100%;
         object-fit: cover;
      }

      .q-container {
         flex-direction: column;
      }
}

@media screen and (max-width: 900px) {
   :root {
      /* INIT VALUES */
      --pd-horizontal: 100px;
      --pd-vertical: 100px;
   
      --mg-text-large: 60px;
      --mg-text-medium: 30px;
      --mg-text-small: 10px;
   
      --clr-primary:#0B2E1C;
      --clr-secondary: #C18A2B;
      --clr-secondary-muted: #8F7127;
      --clr-neutral: #FFFF;
      
      --fs-h: 5rem;
      --fs-sh: 4rem;
      --fs-pr: 1rem;
      --fs-body: 0.8rem;
   
      --gp-grid: 30px;
   }
}